<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="new-game" href="/tabs/tab1">
      <ion-icon name="game-controller-outline"></ion-icon>
      <ion-label>Play</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history" href="/tabs/tab2">
      <ion-icon name="time-outline"></ion-icon>
      <ion-label>History</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/tab3">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
