<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> History </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="secondary">
      <ion-title size="large">History</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <div *ngIf="arrayEmpty">
      <ion-item>
        <ion-label>
          <h3>No Games Saved</h3>
        </ion-label>
      </ion-item>
    </div>

    <!--SORT BY SCORE-->
    <div *ngIf="!arrayEmpty && sortByScore">
      <ion-item-group *ngFor="let group of gamesArray | groupByScore">
        <ion-item-divider> Score: {{ group.key }} </ion-item-divider>
        <ion-item-sliding *ngFor="let item of group.list">
          <ion-item>
            <ion-label>
              <h3>{{ item.date | date: 'dd.MM.YYYY - HH:mm'}}</h3>
            </ion-label>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="tertiary" (click)="shareGame(item)">
              Share game
            </ion-item-option>
            <ion-item-option color="danger" (click)="deleteGame(item)">
              Delete game
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-item-group>
    </div>

    <!--SORT BY DATE-->
    <div *ngIf="!arrayEmpty && !sortByScore">
      <ion-item-group *ngFor="let group of gamesArray | groupByDate">
        <ion-item-divider>
          {{ group.key | date: 'dd.MM.YYYY' }}
        </ion-item-divider>
        <ion-item-sliding *ngFor="let item of group.list">
          <ion-item>
            <ion-label>
              <h3>Score: {{ item.score }}</h3>
              <p>{{ item.date | date: 'HH:mm'}}</p>
            </ion-label>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="tertiary" (click)="shareGame(item)">
              Share game
            </ion-item-option>
            <ion-item-option color="danger" (click)="deleteGame(item)">
              Delete game
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-item-group>
    </div>
  </ion-list>
</ion-content>
